<footer class="bg-white text-dark py-5">
    <div class="container">
      <div class="row">
      
        <div class="col-md-3">
          <h5 class="fw-bold text-primary">EventSphere</h5>
          <p>Plan smarter: Find, book, and manage events and resources effortlessly..</p>
        </div>
    
        <div class="col-md-3">
          <h6 class="fw-bold">Product</h6>
          <ul class="list-unstyled">
            <li><a href="#" class="text-dark text-decoration-none">Events </a></li>
            <li><a href="#" class="text-dark text-decoration-none">Bookings </a></li>
            <li><a href="#" class="text-dark text-decoration-none">Reclamations </a></li>
          </ul>
        </div>
       
        <div class="col-md-3">
          <h6 class="fw-bold">For Business</h6>
          <ul class="list-unstyled">
            <li><a href="#" class="text-dark text-decoration-none">Resource Owners</a></li>
            <li><a href="#" class="text-dark text-decoration-none">Event Creators</a></li>
            <li><a href="#" class="text-dark text-decoration-none">Partners</a></li>
          
          </ul>
        </div>
     
        <div class="col-md-3">
          <h6 class="fw-bold">Company</h6>
          <ul class="list-unstyled">
            <li><a href="#" class="text-dark text-decoration-none">About Us</a></li>
        
            <li><a href="#" class="text-dark text-decoration-none">Contact</a></li>
          </ul>
        </div>
      </div>
      <hr class="my-4">
      <div class="d-flex justify-content-between align-items-center">
        <p class="mb-0">&copy; EventSphere. All rights reserved.</p>
        <div>
          <a href="#" class="text-dark text-decoration-none me-3">Terms</a>
          <a href="#" class="text-dark text-decoration-none me-3">Privacy</a>
          <a href="#" class="text-dark text-decoration-none">Cookies</a>
        </div>
      </div>
    </div>
  </footer>