.resource-card {
  max-width: 300px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.resource-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.resource-content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h3 {
  margin: 0;
  font-size: 1.2em;
}

.resource-type {
  margin: 0;
  font-style: italic;
  color: #666;
}

.resource-description {
  margin: 0;
  font-size: 0.9em;
  color: #333;
}

.view-details {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-self: flex-start;
}

.view-details:hover {
  background-color: #2658bb;
}

.resource-actions {
  display: flex;
  gap: 10px;
  align-self: flex-end;
}

.material-icons {
  cursor: pointer;
  font-size: 20px;
}

.modify-icon {
  color: #0f0f0f;
}

.delete-icon {
  color: #0f0f0f;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  min-width: 300px;
}

.modal p {
  margin: 0 0 1rem;
}

.modal button {
  padding: 8px 16px;
  margin: 0 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal button:first-of-type {
  background-color: #f25c5c;
  color: white;
}

.modal button:last-of-type {
  background-color: #ccc;
}