<div class="resource-card">
    <img [src]="resource.imageUrl" alt="{{resource.name}}" class="resource-image">
    <div class="resource-content">
      <h3>{{resource.name}}</h3>
      <p class="resource-type">{{resource.type}}</p>
      <p class="resource-description">{{getTruncatedDescription()}}</p>
      <button class="view-details" (click)="onViewDetails()">View Details</button>
      <div class="resource-actions">
        <span class="material-icons modify-icon" (click)="onModify()">edit</span>
        <span class="material-icons delete-icon" (click)="onDelete()">delete</span>
      </div>
    </div>
  </div>