<div class="reset-password-container">
    <h2>Définir un nouveau mot de passe</h2>
  
    <form (ngSubmit)="onUpdatePassword()">
      <input type="password" [(ngModel)]="newPassword" name="newPassword" placeholder="Nouveau mot de passe" required>
      <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" placeholder="Confirmez le mot de passe" required>
  
      <button type="submit">Mettre à jour</button>
    </form>
  
    <p *ngIf="errorMessage" style="color:red;">{{ errorMessage }}</p>
    <p *ngIf="successMessage" style="color:green;">{{ successMessage }}</p>
  </div>
  